<!-- ---
feature_name: Web Bluetooth / Device Info
chrome_version: 45
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---
{% include_relative _includes/intro.html %}
<p>This sample illustrates the use of the Web Bluetooth API to retrieve basic
device information from a nearby Bluetooth Low Energy Device. You may want to
check out the <a href="device-info-async-await.html">Device Info (Async
Await)</a> sample.</p> -->

<form id="scanForm">
  <button>Get ALL Bluetooth Device Info</button>
</form>

<form id="inputForm">
  <input id="deauth" type="number" size=17 placeholder="deauth">
  <input id="beacon" type="number" size=17 placeholder="beacon">
  <input id="probe" type="number" size=17 placeholder="probe">
  <button>send value</button>
</form>

<button type="button"
onclick="a()">
training</button>


<!-- {% include_relative _includes/datalist-services.html %}
{% include output_helper.html %}
{% include js_snippet.html filename='device-info.js' %} -->

<script>
  let log = console.log;
  const command = new Uint8Array([0x4]);
 
  var bluetoothDevice;
  var server;
async function onScanButtonClick() {
  let options = {filters: []};
  bluetoothDevice = null;
  
    options = {};
    options.acceptAllDevices = true;
    options.optionalServices = '4fafc201-1fb5-459e-8fcc-c5c9c331914b';
    //options.filters.push({optionalServices: '4fafc201-1fb5-459e-8fcc-c5c9c331914b'});
  
  try {
    log('Requesting Bluetooth Device...');
    //bluetoothDevice = await navigator.bluetooth.requestDevice(options);
    bluetoothDevice = await navigator.bluetooth.requestDevice({acceptAllDevices: ['true'],optionalServices: ['4fafc201-1fb5-459e-8fcc-c5c9c331914b']});
    bluetoothDevice.addEventListener('gattserverdisconnected', onDisconnected);
    connect();
  } catch(error) {
    log('Argh! ' + error);
  }
}
async function connect() {
  log('Connecting to Bluetooth Device...');
  server = await bluetoothDevice.gatt.connect();
  log('> Bluetooth Device connected');
}
function onDisconnectButtonClick() {
  if (!bluetoothDevice) {
    return;
  }
  log('Disconnecting from Bluetooth Device...');
  if (bluetoothDevice.gatt.connected) {
    bluetoothDevice.gatt.disconnect();
  } else {
    log('> Bluetooth Device is already disconnected');
  }
}
function onDisconnected(event) {
  // Object event.target is Bluetooth Device getting disconnected.
  log('> Bluetooth Device disconnected');
}
function onReconnectButtonClick() {
  if (!bluetoothDevice) {
    return;
  }
  if (bluetoothDevice.gatt.connected) {
    log('> Bluetooth Device is already connected');
    return;
  }
  try {
    connect();
  } catch(error) {
    log('Argh! ' + error);
  }
}
async function a()
{
  try
  {
    const service = await this.bluetoothDevice.gatt.getPrimaryService('4fafc201-1fb5-459e-8fcc-c5c9c331914b');
  const characteristics = await service.getCharacteristic('4fafc201-1fb5-459e-8fcc-c5c9c331914b');
  await characteristics.writeValue(command);
  log('sent');
  }
  catch(error) {
    log('Argh! ' + error);
  }
  
}
async function sendValue()
{
  let deauth = document.querySelector('#deauth').value;
  let beacon = document.querySelector('#beacon').value;
  let probe = document.querySelector('#probe').value;
  const command2 = Uint8Array([deauth,beacon,probe]);
  try
  {
    const service = await this.bluetoothDevice.gatt.getPrimaryService('4fafc201-1fb5-459e-8fcc-c5c9c331914b');
  const characteristics = await service.getCharacteristic('4fafc201-1fb5-459e-8fcc-c5c9c331914b');
  await characteristics.writeValue(command2);
  log('sent');
  }
  catch(error) {
    log('Argh! ' + error);
  }
  
}
  document.getElementById('scanForm').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();
     onScanButtonClick();
     //clearLog();
  });
  document.getElementById('inputForm').addEventListener('submit', function(event) {
     sendValue();
     //clearLog();
  });
</script>

<!-- {% include_relative _includes/utils.html %} -->
